* {
	font-family: 'Poppins', sans-serif;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-weight: 400;
	background: #212529;
}

body {
	background-color: #212529;
}

main {
	background: #212529;
}

h2 {
	color: white;
	margin-top: 30px;
	margin-bottom: 40px;
	font-weight: 800;
}

h6 {
	color: black;
}

h5 {
	color: white;
}

h4 {
	color: white;
}

a {
	font-size: medium;
	margin-block: -5px;
	text-decoration: none;
}

p {
	color: white;
}

ul {
	color: white;
}

p.card-text {
	color: black;
	align-items: center;
	text-align: center;
}

.header {
	background: #212529;
	justify-content: space-between;
	padding: 10px;
}

img.navbar-brand {
	width: 300px;
	height: 150px;
	margin-right: 25px;
}

img.img-circle {
	width: 100%;
	height: 100%;
}

.carousel-item {
	color: white;
	font-size: 14px;
	text-align: justify;
}

.carousel-indicators {
	top: 90%;
}

.container-info {
	margin-right: 18%;
	margin-bottom: 10%;
}

div.resultados {
	color: black;
}

@media screen and (max-width: 1024px) {
	.carousel-item img {
		width: 80%;
		padding-left: 20%;
	}

	.carousel-indicators {
		top: 95%;
	}

	.container-info {
		margin-top: 10%;
		padding-left: 10%;
		margin-right: 18%;
		margin-bottom: 10%;
	}
}

#dropdownMenu {
	align-content: center;
}

.card-img-top {
	padding: 2px;
	height: 100%;
}

.card-body {
	background-color: white;
}

.card {
	margin-top: 10px;
	margin-bottom: 10px;
}

.profile-header-container {
	margin: 0 auto;
	text-align: left;
	margin-top: 0;
}

.profile-header-img {
	padding: 54px;
}

.titulo-categoria {
	text-align: justify;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 500;
	margin-left: 15px;
}

.nome-categoria {
	padding-top: 10px;
	margin-bottom: 10px;
}

.comp-categoria {
	font-size: 14px;
	margin: 0;
}

.componentes {
	margin-bottom: 20px;
}

@media screen and (max-width:1024px) {
	.video-yt {
		display: flex;
		height: 200px;
		align-items: center;
		width: 100%;
	}

	.titulo-categoria {
		text-align: center;
	}

	.comp-categoria {
		display: none;
	}
}

.novidades-texto {
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: justify;
}

.noticias-titulo {
	margin-bottom: 20px;
	font-weight: 500;
	margin-left: 30px;
}

.card-img {
	width: 100%;
	height: 100%;
}

.card-img-circle {
	width: 100%;
	height: 100%;
}


.card-img {
	width: 230px;
	height: 190px;
}

.conteudo-news a {
	text-decoration: none;
}

.conteudo-news {
	margin-top: 25px;
}

.card-news {
	width: 100%;
	height: 100%;
}

.badge-info {
	background-color: #0c7c28;
	margin-bottom: 25px;
}

@media screen and (max-width:1024px) {

	.noticias {
		display: flex;
		flex-direction: column;
	}

	.card-news {
		display: flex;
		justify-content: center;
		margin-right: 10px;
	}

	.noticias img {
		width: 280px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.titulo-news {
		display: flex;
		flex-wrap: wrap;
	}

	.resumo-news {
		width: 100%;
		text-align: justify;
	}

	.news {
		text-align: center;
	}
}

.sobre-projeto p {
	font-size: 15px;
	text-align: justify;
}

.infos-editorial h2 {
	margin-bottom: 20px;
	font-weight: 500;
}

.redes-sociais h4 {
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 25px;
}

.redes-sociais a {
	color: white;
	font-size: 35px;
	margin-top: -10px;
	margin-bottom: 20px;
}

.fa {
	color: white;
	width: 50px;
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 10px;
}

.fa:hover {
	opacity: 0.8;
}

@media screen and (max-width:1024px) {
	.sobre-projeto {
		text-align: center;
	}

	.sobre-projeto p {
		text-align: justify
	}

	.infos-editorial h2 {
		text-align: center;
	}

	.infos-editorial i {
		text-align: justify;
	}

	.redes-sociais {
		margin-top: 10px;
	}

	.redes-sociais i {
		margin-bottom: 30px;
	}
}

.footertext {
	margin-top: 15px;
	align-self: center;
	color: #212529;
}